.loginForm {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
}

.login {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 70%;
  width: 40rem;
  box-shadow: 0px 10px 30px 10px rgba(0, 0, 0, 0.07);
  background-color: #302e2e;
}

.user-image {
  margin-top: 2rem;
  height: 120px;
  width: 120px;
  border-radius: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  background-color: #575454;
}

.head {
  height: 40px;
  width: 40px;
  background-color: #cfcfcf;
  border-radius: 50%;
}

.body {
  margin-bottom: -35px;
  height: 70px;
  width: 70px;
  background-color: #cfcfcf;
  border-radius: 30%;
}

.login h3 {
  width: 20rem;
}

.login input {
  width: 20rem;
  padding: 0.5rem;
  border-radius: 0.5rem;
  outline: none;
}

.login input::placeholder {
  color: #fff;
}

.showPassword {
  padding: 0;
  position: absolute;
  margin-top: 7.8rem;
  margin-left: 16rem;
  background-color: transparent;
  border: none;
}

.errorMessage {
  color: red;
}

.login button:last-of-type {
  width: 21.1rem;
  background-color: #575454;
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
